<div class="modal-header">
    <h4 class="modal-title">Create Alarm</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
    <div class="form-group row">
        <label for="label" class="col-2 col-form-label">Label</label>
        <div class="col-10">
            <input class="form-control" type="text" [(ngModel)]="alarm.label" id="label">
        </div>
    </div>
    <div>
        <ngb-timepicker [(ngModel)]="alarm.time" [meridian]="meridian"></ngb-timepicker>
    </div>
    <div class="form-group row">
        <label for="example-text-input" class="col-8 col-form-label">Repeat</label>
        <div class="col-4">
            <label class="form-check-label switch pull-right">
               <input class="form-check-input" type="checkbox" [(ngModel)]="alarm.isRepeat">
                <div class="slider round"></div>
            </label>
        </div>
    </div>
    <div class="form-group" *ngIf="alarm.isRepeat">
        <div class="btn-group" data-toggle="buttons">
            
            <label class="btn btn-primary" *ngFor = "let repeat of repeatOn | keys"  [class.active]="repeatOn[repeat]">
               <input type="checkbox" [(ngModel)]="repeatOn[repeat]"> {{repeat | titlecase}}
            </label>
           
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveAlarm(alarm)">Save</button>
    <button type="button" class="btn btn-secondary" (click)="cancelAlarm()">Cancel</button>
</div>